@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cookie|Fredericka+the+Great|Josefin+Slab');
$grey: rgb(225,225,225);

/*
 * Keyframes
 * ========================================================================== */
@keyframes dropIcons {
  0% {
    transform: translateY(-300%);
    opacity: 0;
  }
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* =========================================================================== */

#bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #header {
    text-align: center;
    cursor: default;
    visibility: hidden;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    h1 {
      font-family: 'Amatic SC', cursive;
      font-size: 4em;
      margin-bottom: 0;
      margin-top: .5em;
    }
  }

  #contact {
    display: flex;
    width: 100%;
    justify-content: center;

    a {
      margin: 1em;
      transition: opacity .5s ease;
    }

    a:hover {
      opacity: .75;
    }

    img {
      visibility: hidden;
      width: 5em;

      animation-name: dropIcons;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.18, 0.89, 0.78, 1.15);
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
    }

    #mail-icon {
      animation-delay: 1s;
    }

    #linkedin-icon {
      animation-delay: 1.2s;
    }

    #github-icon {
      animation-delay: 1.4s;
    }
  }

  #skills {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;

    .hr-div {
      visibility: hidden;
      animation-name: slideUp;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0, 2.8, 1, 2.3);
      animation-duration: .8s;
      animation-fill-mode: forwards;
      animation-delay: 3s;

      p {
        color: $grey;
        font-size: 1.8em;
      }

      .left-hr {
        background: -webkit-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(68, 68, 68, 0) 10%, $grey 100%);
      }

      .right-hr {
        background: -webkit-linear-gradient(left, $grey 0%, rgba(68, 68, 68, 0) 90%, rgba(76, 76, 76, 0) 100%);
      }
    }
    #skills-icons {
      visibility: hidden;
      animation-name: slideUp;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: .8s;
      animation-fill-mode: forwards;
      animation-delay: 3s;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      background-color: rgba(0,0,0,.2);
      border-radius: .5em .5em 0 0;
      padding: .6em .5em .3em;

      .skills-icon-container {
        padding-left: .2em;
        padding-right: .2em;

        align-self: stretch;
        margin: auto;

        img {
          width: 3em;
          transition: width 0.15s ease-out;
        }

        p {
          color: $grey;
          font-size: .75em;
          margin: auto;
          text-align: center;
          display: none;
        }
      }

      .skills-icon-container:hover {

      }
    }
  }

  .hr-div {
    display: flex;
    flex-direction: row;

    p {
      cursor: default;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: .1em;
      font-family: 'Cookie', cursive;
      font-size: 2em;
    }

    hr {
      border: 0;
      height: 1px;
      flex: 1 1 auto;
      margin: auto;
    }

    .left-hr {
      background: -webkit-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(68, 68, 68, 0) 10%, rgba(0, 0, 0, 1) 100%);
    }

    .right-hr {
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(68, 68, 68, 0) 90%, rgba(76, 76, 76, 0) 100%);
    }
  }
}

/*
 * Media-queries
 * ========================================================================== */

@media only screen and (max-width: 667px) {

  #contact {
    img {
      width: 4.7em !important;
    }
  }

  #skills-icons {
    height: 7em;
  }

  .skills-icon-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 20% !important;

    img {
      margin-left: auto !important;
      margin-right: auto !important;
      display: block !important;
    }
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape){

  #header {
    h1 {
      margin-top: 0 !important;
    }
  }

  #contact {
    img {
      width: 4.3em !important;
    }
  }

  #skills-icons {
    height: inherit;
  }

  //ändra dessa:
  .skills-icon-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 20% !important;

    img {
      margin-left: auto !important;
      margin-right: auto !important;
      display: block !important;
    }
  }
}


